body{
    background: #8403e0;
    font-family: sans-serif;
}
form{
    text-align: center;
    width: 500px;
    padding: 50px 0;
    margin: 8% auto;
    box-shadow: 0 20px 40px rgba(0,0,0);
}
.input-box{
    margin: 30px auto;
    width: 70%;
    position: relative;
    box-shadow: 0 8px 10px -10px rgba(0,0,0);
}
.input-box input{
    width: 80%;
    height: 40px;
    border: none;
    background: #efefef;
    padding-left: 50px;
    outline: none;
}
span{
    position: absolute;
    left: 0;
    top: 0;
    height: 42px;
    width: 42px;
    background: linear-gradient(to right, #4caf50, #00bcd4 );
}
span .fa{
    padding: 12px;
    color: #fff;
}
button{
    width: 130px;
    height: 40px;
    margin-left: 15%;
    display: block;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 16px;
    background: linear-gradient(to right, #4caf50, #00bcd4 );
    box-shadow: 0 8px 10px -10px rgba(0,0,0);
    cursor: pointer;
}
button .fa{
    margin-right: 10px;
}
form img{
    width: 30%;
    margin-top: -28%;
}
.password-strength-indicator{
    font-size: 12px;
    display: inline-block;
    height: 15px;
    min-width: 20%;
    text-align: center;
    transition: 1s;
    margin: 50px 0;
    color: #fff;
}
.password-strength-indicator.very-weak{
    background: #cf0000;
    width: 20%;
}
.password-strength-indicator.weak{
    background: #f6891f;
    width: 40%;
}
.password-strength-indicator.mediocre{
    background: #eeee00;
    width: 60%;
}
.password-strength-indicator.strong{
    background: #99ff33;
    width: 80%;
}
.password-strength-indicator.very-strong{
    background: #22cf00;
    width: 98%;
}


@media screen and (max-width: 600px){
    body{
        padding-inline: 20px;
    }
    form{
        margin-top: 100px;
        width: auto;
    }
}